In [11]:
import pandas as pd

mydataset = {
  'cars': ["BMW", "Volvo", "Ford",None],
  'passings': [3, 7, 2,6]
}

In [2]:
# list
lst = []

# dictionary
dict = {}

In [ ]:
# list of dicts
# lstOfDicts = [{},{},{},....]

In [12]:
df = pd.DataFrame(mydataset)

In [13]:
df

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2
3   None         6

In [8]:
df.shape

(3, 2)

In [9]:
df.dtypes

cars        object
passings     int64
dtype: object

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cars      3 non-null      object
 1   passings  4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [16]:
pd.__version__

'1.4.3'

In [19]:
names = ["ali","hasan","fatemeh"]

s = pd.Series(names)

s

0        ali
1      hasan
2    fatemeh
dtype: object

In [25]:
s[0]

'ali'

In [27]:
s["std1"]

KeyError: 'std1'

In [23]:
s1 = pd.Series(names,index=["std1","std2","std2"])
s1

std1        ali
std2      hasan
std2    fatemeh
dtype: object

In [24]:
s1["std1"]

'ali'

In [26]:
s1[0]

'ali'

In [28]:
s1["std2"]

std2      hasan
std2    fatemeh
dtype: object

In [30]:
s1[2]

'fatemeh'

In [34]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 41]
}

myvar = pd.DataFrame(data,index=["day1","day2","day3"])

print(myvar)

      calories  duration
day1       420        50
day2       380        40
day3       390        41

In [41]:
myvar.loc["day1"]

calories    420
duration     50
Name: day1, dtype: int64

In [42]:
myvar.iloc[0]

calories    420
duration     50
Name: day1, dtype: int64